.NavBar {
  max-height: 25vh;
  min-height: 15vh;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-link.active,
.dropdown-item.active {
  background-color: transparent !important;
  color: inherit !important;
}
